# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

!/projecto2 - DP 24.zip
!/projecto2 - DP 33.zip
!/projecto2 - DP 20.zip
!/projecto2 - DP 25.zip
!/project2 - DP 27.zip
!/projecto2 - DP 29.zip
!/projecto2 - DP 16.zip
!/projecto2 - DP 12.zip
!/projecto2 - DP 34.zip
!/projecto2 - DP 21.zip
!/project2 - DP 11.zip
!/projecto2 - DP 13.zip
!/projecto2 - DP 26.zip
!/projecto2 - DP 17.zip
!/projecto2 - DP 35.zip
!/projecto2 - DP 30.zip
!/projecto2 - DP 22.zip
!/projecto2 - DP 14.zip
!/projecto2 - DP 31.zip
!/projecto2 - DP 27.zip
!/projecto2 - DP 18.zip
!/projecto2 - DP 23.zip
!/projecto2 - DP 28.zip
!/projecto2 - DP 19.zip
!/projecto2 - DP 32.zip
!/projecto2 - DP 15.zip
